html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;

  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  padding: 10px;
  margin: 0.5rem;
  border: none;
  cursor: pointer;

  border-radius: 100%;
}

.removeButton{
  background-color: rgba(255, 169, 169, 0.279);
  padding: 10px;
  margin: 0.5rem;
  border: none;
  cursor: pointer;

  border-radius: 100%;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  width: auto;
  justify-content:space-between;
  padding: 1rem;
  
  font-size: 20px;

  background-color: rgba(107, 114, 142, 0.186);
}

nav > button {
  color: red;
}

a{
  color: black;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(224, 232, 255);
} 

footer {
  display: flex;
  justify-content:space-around;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: auto;
  height: 40px;
  margin-top: auto;
}

footer > .powered {
  display: flex;
}

footer > .powered > img{
  width: 200px;
  margin: 0;
}
footer > .powered > p{
  margin: 0;
  padding-top: 0.7rem;
}

footer > .redes {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

footer > .redes > .icon {
  width: 30px;
  height: 30px;
  filter: invert(1);
}

.dark > footer > .redes > .icon {
  filter: invert(0);
}

.dark > footer > .powered > img {
  filter: invert(1);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;

  border: solid rgb(147, 156, 193);
  border-width: 2px;
  border-radius: 2%;

  background-color: rgb(147, 156, 193);
}



.card img {
  width: 200px;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: rgb(64, 66, 88);
  color: white;
}

.dark > nav {
  background-color: rgb(51, 52, 70);
}

.dark > nav > .nav-links > a {
  color: white;
}

.contact {
  text-align: center;
}

.contact__button {
  align-self: center;
  height: 35px;
  padding: 0 20px 0 20px;
  border-radius: 25px;
  cursor: pointer;
}

.contact__button:hover {
  background-color:crimson;
  color: #ffffff;
}

.form__contact {
  margin-bottom: 15px;
}
